# build artifacts
bin
obj
build

# editors
.vs
.idea

# ignore mods, except for the built in included ones
Mods
-Mods/DefaultSkins
-Mods/TestLevel

# trash that we dont want
Celeste64.Launcher/imgui.ini
Content/Map_Test/autosave
Content/Maps/autosave
Content/FMOD/celeste64/.cache
Content/FMOD/celeste64/.user
Content/FMOD/celeste64/.unsaved
Celeste64-Fuji
*.user
